<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css/backend")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        @Scripts.Render("~/Content/js/backend")
        @RenderSection("script", false)
    </div>
</body>
</html>
